@model mvcBasicCRUD.Models.Chore

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Chore</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DueDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DueDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsCompleted)
        </dt>
        <dd class = "col-sm-10">
            @Model.IsCompleted
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ChoreType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ChoreType.Name)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.ChoreID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
