@model IEnumerable<mvcBasicCRUD.Models.Chore>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DueDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsCompleted)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ChoreType)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DueDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsCompleted)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ChoreType.Name)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ChoreID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ChoreID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ChoreID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
