@model IEnumerable<mvcBasicCRUD.Models.ChoresViewModels>

@{
    ViewData["Title"] = "Chores";
}

<h1>Chores</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Chore
            </th>
            <th>
                Due Date
            </th>
            <th>
                Type
            </th>
            <th>
                Status
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @item.Title
            </td>
            <td>
                @item.DueDate.Date.ToShortDateString()
            </td>
            <td>
                @item.ChoreType
            </td>
            <td>
                @item.Status
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
