@model IEnumerable<mvcBasicCRUD.Models.ChoreType>

@{
    ViewData["Title"] = "Index";
}

<h1>Chore Types</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                Choures Count
            </th>
            <th>
                Choures Overdue
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @item.Chores!.Count
            </td>
            <td>
                @item.Chores!.Where(c => c.DueDate >= DateTime.Now.Date).Count()
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ChoreTypeID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ChoreTypeID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ChoreTypeID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
